/* Organización del Index */

#bodyIndex {
  background-image: url(img/fondo1-index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
}

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(auto, 1fr) auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid;
  padding: 10px 10px 0; 
}

header p {
  grid-row: 1;
  grid-column: 1 / span 4;
  text-align: center;
  font-size: 4em;
  font-family: 'Alegreya', serif;
  color: rgb(208, 177, 119);
  min-height: 80px;
  max-height: none; 
  overflow: visible; 
  padding-bottom: 1px;
  margin-bottom: 0;
  overflow-wrap: break-word;
}

header nav {
  grid-row: 2;
  grid-column: 1 / span 4;
  display: flex;
  justify-content: center;
  padding: 5px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

header nav li {
  text-align: center;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}

header nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(208, 177, 119);
  font-family: 'Alegreya', serif;
}

header nav li:hover a {
  color: #834510;
  transition: color 0.5s;
}

.grid-container-index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-bottom: 100px;
  }
  
.grid-item-index {
  padding: 10px;
  font-family: 'Alegreya', serif;
}

#textoInicio {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3em;
}

#clima {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  border: solid;
  color: rgb(208, 177, 119);
  text-align: center;
  margin: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content:space-around ;
  padding: 0 20px;
}

#textoFooter {
  font-family: 'Alegreya', serif;
  color: rgb(208, 177, 119);
  font-size: 1em;
  font-style: italic;
  display: flex;
  margin-top: 30px;
  
}

footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}

footer li {
  margin-left: 10px;
}

footer ul li:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
  }

  #textoFooter {
    display: none; 
  }

  .grid-container-index {
    grid-auto-rows: min-content; 
  }

  #clima {
    grid-column: 1 / span 4;
    grid-row: 3;
    margin-bottom: 10px; 
  }
}


/* 
Sección Nosotros */

#bodyNosotros {
  background-image: url(img/BG_index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 100px; 
  position: relative; 
}

#bodyNosotros:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: inherit;
}



.contenedorNosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 2%;
  grid-row-gap: 20px; 
}

.fraseNosotros {
  text-align: justify;
  font-size: 1em;
  font-family: 'Alegreya', serif;
  color: rgb(208, 177, 119);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  line-height: 1.5;
}

.imgNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
}

.imgNosotros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query para viewport con ancho menor a 768px */
@media (max-width: 768px) {
  .contenedorNosotros {
    grid-template-columns: 1fr;
  }

  .imgNosotros {
    grid-row: 1;
  }

  .fraseNosotros {
    grid-row: 2;
  }

}


/* Sección Menu */
#precio {
  display: inline-block;
  color: black;
  border: 1px solid #000;
  padding: 5px;
  background-color: rgb(208, 177, 119);
  font-size: 20px;
  float: right;
} 

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  padding: 5px 0 105px 0; 
}

.grid-item {
  border: 1px solid #000;
  padding: 10px;
  text-align: justify;
  font-size: 1em;
  font-family: 'Alegreya', serif;
  color: rgb(208, 177, 119);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.col1 {
  grid-column: 1 / span 1;
  max-height: 300px;
}

.col2 {
  grid-column: 2 / span 2;
}

.col1:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

@media (max-width: 1030px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}




/* Sección Pedidos */

#bodyPedidos {
  margin: 0;
  padding: 0;
  position: relative; 
  background-image: url(img/verde-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -50px;
}

#contenido {
  margin: 0 0 175px 0; 
}
  

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 20px;
  margin-bottom: 100px; 
}

form {
  grid-column: 1; 
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(208, 177, 119, 0.5);
  font-family: 'Alegreya', serif;

}

label {
  grid-column: 1 / span 2;
  justify-self: end; 
  font-family: 'Alegreya', serif;
}

input[type="text"],
select {
  width: 90%; 
  padding: 5px;
  justify-self: start; 
}

select.pizza {
  width: 90%;
}

#contenedor-pizzas input.cantidad {
  width: 90%;
}

#agregar-pizza {
  grid-column: 1;
  text-align: center;
  margin-top: 10px;
}

#contenedor-pizzas {
  width: 90%;
  gap: 10px; 
  align-items: center; 
}

#contenedor-pizzas label {
  width: 90%;
  grid-column: 1 / span 2;
  justify-self: start; 
  font-family: 'Alegreya', serif;
  margin-bottom: 5px; 
}

#contenedor-pizzas select.pizza,
#contenedor-pizzas input.cantidad {
  width: 100%; 
  padding: 5px;
  
}


button[type="submit"] {
  grid-column: 1 / span 2;
}

#detalle-pedido {
  grid-column: 2;
  font-family: 'Alegreya', serif;
  font-size: 20px;
  text-align: center;
  font-style:italic ;
  text-decoration: none;
  background-color: rgba(208, 177, 119, 0.5);
  padding: 10px;
  width: 100%; 
}


#mapa-container {
  grid-column: 2;
  grid-row: 2;
  padding: 10px;
  background-color: rgba(208, 177, 119, 0.5);
  width: 100%; 
}

#main-container {
  min-height: 100vh;
}

/* Corte en 768 para tablets y celulares */

@media (max-width: 768px) {
  main {
    display: block;
    margin-bottom: 0;
  }

  #mapa-container {
    width: 100%;
    margin-top: 20px;
  }

}

/* 
Corte menor a 480 px de ancho */

@media (max-width: 480px) {
  #mapa-container {
    width: 100%; 
    margin-top: 0; 
    display: block; 
  }
  
  #mapa-container iframe {
    width: 100%; 
    height: auto; 
    align-self: auto; 
  }
  
  main {
    margin-bottom: 120px; 
  }
}